<% include head.ejs%>
    <script> 
      var myUser = <%- JSON.stringify(user) %>
    </script>   

  <div class="ui container">
  <br>
  <div class="ui secondary menu">
    <div class="header item">Link</div>
    <a href="/" class="item">
      Home
    </a>
    <a href="/profile" class="item">
      Profile
    </a>
    <a href="/friends" class="item">
      Friends
    </a>
    <div class="right menu">
      <a href="/logout" class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui divider"></div>
  <br>
</div>
    <!-- <a href="/" class="ui teal button small">Home page</a>
    <a href="/profile" class="ui teal button small">Profile</a>
    <a href="/friends" class="ui teal button small">Friends</a>
    <a href="/logout" class="ui teal button small" style="float: right;
      align: right;
    ">Logout</a>  -->

<% include foot.ejs%>

